<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="../../../../assets/images/img-01.png" alt="IMG">
            </div>
            <div class="login100-form validate-form">
                <span class="login100-form-title">
                    Register
                </span>
                <label for="email">Email:</label>
                <div class="wrap-input100 validate-input">
                    <input class="input100" [(ngModel)]="email" name="email" placeholder="email" type="email" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <label for="password">Password:</label>
                <div class="wrap-input100 validate-input">
                    <input class="input100" [(ngModel)]="password" name="password" placeholder="password"
                        type="password"  required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <label for="phone">Mobile number:</label>
                <div class="wrap-input100 validate-input">
                    <input class="input100" [(ngModel)]="phone" name="phone" placeholder="mobile number"
                        type="text"  required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <label for="fullname">Full Name:</label>
                <div class="wrap-input100 validate-input">
                    <input class="input100" [(ngModel)]="fullname" name="fullname" placeholder="Full Name" type="text"
                        name="fullname" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <label for="doj">Date of joining:</label>
                <div class="wrap-input100 validate-input">
                    <input class="input100" [(ngModel)]="joindate" name="doj" type="date" required
                        placeholder="joining date" name="joiningDate" title="date of joining">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <label for="pic">Picture Url:</label>
                <div class="wrap-input100 validate-input">
                    <input class="input100" [(ngModel)]="pic" name="pic" placeholder="Picture Url" type="text"
                        name="pic" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <label for="Bio">Bio:</label>
                <div class="wrap-input100 validate-input">
                    <input class="input100" [(ngModel)]="bio" name="Bio" placeholder="Bio" type="text" name="bio"
                        required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <!-- <label for="gender">Gender:</label>
                <div class="wrap-input100 validate-input">
                    <select name="gender" placeholder="select" id="cars" [(ngModel)]="gender">
                        <option value="">Select</option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                    </select>
                </div> -->
                <ion-item>
                    <ion-label>Are you a service provider?</ion-label>
                    <ion-select placeholder="select" (ionChange)="onServiceSelect($event)">
                        <ion-select-option value="yes">Yes</ion-select-option>
                        <ion-select-option value="no">No</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="isServiceProvider">
                    <ion-label>Service</ion-label>
                    <ion-select placeholder="All" [(ngModel)]="service">
                        <ion-select-option value="Web Developer">Web Developer</ion-select-option>
                        <ion-select-option value="Digital Marketing Specialist">Digital Marketing Specialist
                        </ion-select-option>
                        <ion-select-option value="Bidder">Bidder</ion-select-option>
                        <ion-select-option value="HR">HR</ion-select-option>
                    </ion-select>
                </ion-item>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" (click)="register()" [disabled]="validateRequiredInputs()">
                        Register
                    </button>
                </div>
                <p class="ion-text-center" style="margin-top: 1rem;">
                    <ion-spinner *ngIf="isLoading"></ion-spinner>
                </p>
                <div class="text-center p-t-12">
                    <span class="txt1">
                    </span>
                    <a class="txt2">
                        <p>Already have an account? <a><strong routerLink="/userlogin">Login</strong></a></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>